

<div class="jumbotron">
   <h3> Moodie is a facial recognition application. Users can take photos of themselves with their webcam and Moodie will analyze their facial
     expression and display to the user what emotions their face is displaying. Make a game out of it by trying to match the emotions on the screen
    or by trying to match others facial expressions based on pictures. </h3>
</div>

<div id="container-index" class="container">
<div class="row1">
  <div class="col-sm-6 col-md-6 col-lg-6" id="face-div">
    <div class="thumbnail">
      <br>
      <img src="assets/images/Happy-Face.png" alt="happy-face" width="260" height="260">
      <br>
    </div>
  </div>
   <div class="col-sm-6 col-md-6 col-lg-6" id="results">
    <div class="thumbnail">
      <div class="caption">
        <p><strong><u>Results:</u></strong> <br>
          <br>
          Happiness :<span style="margin-left: 1em;">60.66 </span><br>
          <br>
          Fear  :  <span style="margin-left: 1em;">4.158</span><br>
          <br>
          Surprised :<span style="margin-left: 1em;">20.11</span><br>
          <br>
          Anger :<span style="margin-left: 1em;">2.67</span><br>
          <br>
          Disgust :<span style="margin-left: 1em;">1.89</span><br>
          <br>
          Neutral :   <span style="margin-left: 1em;">10.76</span><br>
          <br>
          Sadness :   <span style="margin-left: 1em;">3.76</span><br>
          
        </p>
      </div>
    </div>
  </div>
</div>
        </div>
  		</div>
	
  	</div>
  </div>
  <br><br>
   